.wrap {
  width: 80%;
  margin: auto;
}

ul {
  border: 1px solid green;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.taskAddInput {
  width: 100%;
  height: 25px;
}


.typesearchInput {
  width: 100%;
  height: 25px;
}

.App {
  text-align: center;
}
