.singeTask {
    border: solid green;
}

.viewUndone {
    composes: singeTask;
    color: black;
    text-decoration: none;
}
  
.viewDone {
    composes: singeTask;
    color: gray;
    text-decoration: line-through;
}
  